.fallback-message {
	font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}
.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}
.step {
	width: 1000px;
	height: 720px;
	text-align: center;
	border-style: solid;
}

#credit {
	position: fixed;
	bottom: 3px;
}

#swot{
	width: 750px;
	height: 500px;
	margin-bottom: auto;
	margin-top: 10%;
	margin-left: 22%;
	margin-right: auto;
	text-align: left;
}